<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Erstelle ein Event</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <!-- 
        <div id="eid">
        <input v-model="message">
        <p>Message is: {{ message }}</p>
        </div>

        <script>
            new Vue({
              el: '#eid',
              data: {
                message: ''
              }
            })
        </script>
        -->

        <br>Event ID: <input v-model="eid" placeholder="1">
        <br>Titel: <input v-model="title" placeholder="Gesprächsangebot">
        <br>Start: <input v-model="start" placeholder="2019-11-04 19:00">
        <br>Ende: <input v-model="end" placeholder="2019-11-04 20:30">
        <br>Adresse: <input v-model="address" placeholder="Eisenbahnstraße 125">
        <br>Link: <input v-model="link" placeholder="https://outofaction.blackblogs.org/?page_id=142">
        <br>Teaser: <input v-model="teaser" placeholder="Wir bieten emotionale erste Hilfe für betroffene Einzelpersonen und Gruppen an">
        <br>Wiederholendes Event: <input v-model="recurring" placeholder="yes|no">
        <br>Ausführliche Beschreibung: <input v-model="end" placeholder="Enddatum + Uhrzeit">
<!--recurring:
  rules:
    - units: 1
      measure: dayOfWeek
    - units: 0
      measure: weekOfMonthByDay
-->
    </body>
</html>
